asteval
asttokens==2.4.1
click==8.1.7
colorama==0.4.6
comm
contourpy
cycler
debugpy
decorator==5.1.1
dill
exceptiongroup==1.2.0
executing==2.0.1
fonttools
future==1.0.0
imageio
importlib-metadata
importlib-resources
imreg_dft==2.0.0
ipykernel
ipython
itango==0.1.9
jedi==0.19.1
joblib==1.3.2
jupyter_client
jupyter_core
kiwisolver==1.4.5
lmfit==1.2.2
looseversion==1.3.0
lxml==4.9.3
matplotlib
matplotlib-inline==0.1.6
nest-asyncio==1.6.0
numpy
opencv-python-headless
packaging==23.2
pandas
parso==0.8.3
Pillow
Pint
platformdirs
ply==3.11
prompt-toolkit==3.0.43
psutil==5.9.8
pure-eval==0.2.2
Pygments==2.17.2
pyparsing==3.1.1
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
pyqtgraph==0.12.3
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
pyzmq==25.1.2
QDarkStyle==3.2.3
qimage2ndarray==1.10.0
qtconsole
QtPy==2.4.1
sardana==3.4.3
scikit-learn
scipy
stack-data==0.6.3
taurus==5.1.8
taurus-pyqtgraph==0.8.0
threadpoolctl
tifffile
tornado
trackpy==0.6.1
traitlets
typing_extensions
tzdata==2023.3
uncertainties==3.1.7
wcwidth==0.2.13
zipp
pytango
